<div class="navitem">
    <div class="container ">
            <a href='' class="navitem">PC</a>
            <a href='' class="navitem"><i class="fa-brands fa-playstation"></i> Plastation</a>
            <a href='' class="navitem"><i class="fa-brands fa-xbox">xbox</i></a>
            <a href='' class="navitem">Nintendo</a>
            <a href='' class="navitem">IOS</a>
            <a href='' class="navitem">Android</a>
        </div>
    </div>
</div>


