{% extends "admin/base.html.twig" %}


{% block body %}
 <div class="container py-5">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="{{ path('admin_product_new') }}" class="btn btn-primary">Ajouter</a>
            </div>
            {% for product in products %}
                <div class="col-4">
                    <div class="card" >
                        <img src="{{ product.image }}" class="card-img-top w-100 imageCard"  alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </div>
                        <div class="card-footer">
                        <a href="{{ path('admin_product_edit',{'id':product.id}) }}" class="btn btn-primary">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
